body {
font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
#intro {
    
}
h1 {
    text-align: center;
    color: #EEE7D8;
}
img {
    padding-top: 1.45rem
}
span {
    text-align: start;
    font-size: 25px;
}
div { 
    padding-left: 1em;
    color: #EEE7D8;
    
}
div p {
    padding-right: 36rem;
}
.container {
    display: flex;
    flex-direction: row;
    width:auto; 
    
}
li {
    color: #EEE7D8;
    padding-right: 36rem;
}
h3, h4 {
    color: #EEE7D8;
}